<div class="container">
    <div class="first-div">
        <div class="left-side">
            <div class="top">
                <a href="#" class="name">Elephant<br> Healthcare</a>
            </div>
            <div class="bottom">
                <div class="slogan-container">
                    <p>The best care for you</p>
                </div>
            </div>
        </div>
        <div class="right-side">
            <div class="img-container">
                <img src="">
            </div>
        </div>
    </div>
</div>
