<div class="container">
    <div class="first-div">
        <div class="left-side">
            <div class="top">
                <a href="#" class="name">Elephant<br> Healthcare</a>
            </div>
            <div class="bottom">
                <div class="slogan-container">
                    <p>The best care for you</p>
                </div>
            </div>
        </div>
        <div class="right-side">
            <div class="img-container">
                <img src="">
            </div>
        </div>
    </div>
    <div class="second-div">
        <div class="top">
            <div class="our-services-container">
                <h1>OUR SERVICES INCLUDES</h1>
            </div>
        </div>
        <div class="bottom">
            <div class="first-service">
                <div class="live-chat-container">
                    <div class="first-icon-container"></div>
                    <a href="#" id="live-chat">Live Chat</a>
                </div>
                <div class="first-service-container">
                    <p>Talk to us and get an instant response</p>
                </div>
            </div>
            <div class="second-service">
                <div class="virtual-session-container">
                    <div class="second-icon-container"></div>
                    <a href="#" id="virtual-session">Virtual Session</a>
                </div>
                <div class="second-service-container">
                    <p>Book a Virtual Session with a Mental health Expert</p>
                </div>
            </div>
            <div class="third-service">
                <div class="physical-session-container">
                    <div class="third-icon-container"></div>
                    <a href="#" id="physical-session">Physical Session</a>
                </div>
                <div class="third-service-container">
                    <p>Book a Physical Session with a Mental health Expert</p>
                </div>
            </div>
        </div>
    </div>
    <div class="third-div">
        <div class="tips-container">
            <p>Tips On Mental Health</p>
        </div>
        <div class="tips-list">
            <div class="first-tips-container">
                <h1>Warning Signs of Mental illness</h1>
                <div class="first-tips">
                    <ul>
                        <li>long lasting sadness or irritability</li>
                        <li>Extremely high & low moods</li>
                        <li>Excessive fears, worry, or anxiety</li>
                        <li>Social withdrawal</li>
                        <li>Dramatic changes in eating and sleeping habits</li>
                    </ul>    
                </div>
            </div>
            <div class="second-tips-container">
                <h1>5 Steps to Mental Well Being</h1>
                <div class="second-tips">
                    <ul>
                        <li>Connect with other people</li>
                        <li>Bephysically active</li>
                        <li>Learn new Skills</li>
                        <li>Give to others</li>
                        <li>Pay attention to the present moment (Mindfulness)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="newsletter">
            <h1>Subscribe to our newsletter to keep getting Mental health tips from Healthcare experts</h1>
            <div class="input-newsletter-container">
                <input type="text" name="name-newsletter" placeholder="Enter your name" id="name-newsletter"><br>
                <input type="email" name="email-newsletter" placeholder="Enter your E-mail" id="email-newsletter"><br>
                <button type="submit" id="subscribe-newsletter">Subscribe</button>
            </div>
        </div>
    </div>
</div>
