.footer{
    background: color #f7f7f7;
    position:fixed;
    width: 1300px;
    bottom: 0%;
}
p{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
/* identical to box height */
    text-align: center;
    color: #4A9317;
    position: absolute;
    margin-left: 40%;
}