.footer{
    background: color #f7f7f7;
    width: 1500px;
    margin: 0%;
    position: fixed;
    bottom: 0%;
    left: 0%;
    height: 50px;
}
p{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
/* identical to box height */
    text-align: center;
    color: #4A9317;
}